<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Data</title>
</head>
<body>

<h1>Crypto Data</h1>

<table>
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Price</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${cryptoData}">
        <td th:text="${data.symbol}"></td>
        <td th:text="${data.price}"></td>
        <td th:text="${data.date}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
